
Bar {
    background-color: #181712;
    spacing: 10;
    margin: 10;
}

QWidget {
    font-size: 14px;
    color: white;
}

FontAwesomeIcon {
    color: #6abed8;
}

LineGraph {
    min-width: 75;
    margin: 0;
}

CpuBarItem LineGraph {
    background-color: #1000ff00;
    color: yellow;
}
