
Bar {
    background-color: #181712;
    spacing: 10;
    margin: 10;
}

BarItem {
    color: white;
}

QWidget {
    font-size: 14px;
    color: white;
}

FontAwesomeIcon, MaskedImageIcon {
    color: #6abed8;
}

LineGraph, HorizontalBarGraph {
    min-width: 75;
    background-color: #20ffff00;
    color: green;
}

MemoryBarItem HorizontalBarGraph {
    max-height: 10;
}

DesktopItem {
    color: white;
}
